<div class="new-board-container">
    <form [formGroup]="newBoardForm" (ngSubmit)="onSubmit(newBoardForm.value)">
      <div class="header">
        <div class="title-part">{{typeModification}} board</div>
        <div class="close-part"><i (click)="onClose()" class="pi pi-times"></i></div>
      </div>
      <div class="action-edit">
        <div>
          <label for="title" class="floatLabel">Title</label>
          <input id="title" formControlName="title" [ngModel]="title" type="text">
          <div *ngIf="submitted && controls.title.errors">
              <p-message severity="error" text="Title is required" *ngIf="controls.title.errors.required"></p-message>
          </div>  
        </div>
        <div>
          <input type="submit" value="Save" id="submit">
        </div>
      </div>   
    </form>
  </div>