.header-container {
  height: 50px;
  background-color: rgb(41, 39, 51);
  position: relative;
  text-align: right;
}

.account-part {
  padding: 0 1em;
}

.account-part>span {
  text-align: left;
  color: #fff;
}

.account-part .account-name {
  margin-right: .5em;
}

.header-container> div {
  display: inline-block;
  height: 50px;
  line-height: 50px;
}